#theSectionOfTitle {
      width: 100%;
      text-align: center;
      font-family: "Oswald";
      background: #a1a1a1;
      padding: 20px 0;
      color: white;

      h1 {
            font-size: 48px;
            margin: 20px;

      }
}